.jumbotron {
    height: fit-content;
    min-height: 80vh;
    background-image: url('../../img/calc.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
.jumbotron-title {
    font-family: 'Playfair Display', serif;
}